<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pagina Principal</title>
    <link rel="stylesheet" href="CSS/Inicio.css">
    <link rel="stylesheet" href="CSS/styles.css">
    <script src="https://kit.fontawesome.com/2cb25f2c39.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" href="Imagenes/WhatsApp_Image_2022-11-20_at_4.22.53_AM-removebg-preview.png">
</head>
<body>
    <header>
        <nav>
            <div class="bar-btn" onmouseover="ver()" onmouseout="ocultar()">
                <div style="padding-left: 2vw;"><i class="fas fa-bars"></i></div>
                <ul class="nav-men" id="seccion" style="display: none;">
                    <li class="menu-item"><form action="inicio" method="get"><button type="submit" style="border-radius: 10px;">Principal</button></form></li>
                    <li class="menu-item"><form action="objetivos" method="get"><button type="submit" style="border-radius: 10px;">Objetivos</button></form></li>
                    <li class="menu-item"><form action="metricas" method="get"><button type="submit" style="border-radius: 10px;">Metricas</button></form></li>
                    <li class="menu-item"><form action="cerrar" method="get"><button type="submit" style="border-radius: 10px;">Cerrar Sesión</button></form></li>
                </ul>
            </div>
        </nav>
        
        <div class="cab_nav">
            <img src="Imagenes/SmokeFinal.png" class="logo_img">
            <div>
                <ul>
                    <li class="botonEx"><form action="Recomendaciones.html" ><button type="submit" style="border-radius: 10px;">Información</button></form></li>
                </ul>
            </div>
        </div>
    </header>
    
    <br><br>
    <h1 style="text-align: center;">¡Hola <%=usuario%>, Bienvenido a SmokeOut!</h1>
    <div class="contenedor" style="margin: 5em auto;">
        
        <div class="contenedor-op">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <abbr title="Preciona la caja para registrar un consumo.">
                    <img src="Imagenes/cajaCigarros.jpg" height="450px" alt="" srcset="">
                </abbr>
            </a>
        </div>

        <div style="padding-left: 8vw; padding-top: 4vh;">
            <form action="inicio" method="get" class="grid-1col">
                <button class="botonfeo" style="border: 4px;">
                    <abbr title="Presiona el reloj para actualizar la hora">
                        <img src="Imagenes/so_reloj.png"  height="350px">
                    </abbr>
                </button>
            </form><br><br><br><br><br><br><br><br><br>
            <h5 style="padding-left: 2vw;"><%=texto%></h5>
        </div>

        <!--Modal-->
        <div style="align-items: center;" class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div style="align-items: center;" class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1  class="modal-title fs-5" id="exampleModalLabel">Seguimiento del Consumo de tabaco.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="registrarCigarro" method="post">
                        <div class="modal-body">
                            <div align="center" class="input-div">
                                <label for="">¿Quieres Registrar que consumiste un cigarro?</label>
                            </div>
                        </div>
                        <div align="center" class="modal-footer">
                            <button type="button"  style="border-radius: 10px;" class="orange-500" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit"  style="border-radius: 10px;" class="orange-500">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


















    














    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
    <!--Inicia el footer-->

    <footer class="footer-ditributed footer">
        <div class="footer-left">
            <img src="Imagenes/smokeout.png" alt="logo">
            <h3>Realizacion:<span>Dumman Industries</span></h3>
            
            <p class="footer-company-name">&copy;2022 SmokeOut</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Mar Mediterráneo 227, Popotla, 11400</span>CDMX,Mexico</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+52 1122334455</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="#">smoke_out@gmail.com</a></p>
            </div>
        </div>
        
        <div class="footer-right" style="text-align: justify;">
            <p class="footer-commpany-about">
                Somos una empresa comprometida con la salud de las personas,
                nuestro propósito es ayudar a los usuarios a solucionar problemáticas 
                reales y que tienen un impacto importante a nivel social, económico y 
                sanitario en sus vidas, de modo que puedan mejorar su día a día.
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/profile.php?id=100087606833657&mibextid=ZbWKwL"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="https://instagram.com/smoke_out59?igshid=NTdlMDg3MTY="><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
        </div>
    </footer>

    <!--Termina el footer-->

    <script type="text/javascript">
        function ver() 
        {
            console.log("ver")
            document.getElementById('seccion').style.display="block"
        }
        function ocultar() 
        {
            console.log("ocultar")
            document.getElementById('seccion').style.display="none"
        }
    </script>

</body>
</html>